/* #BASE CSS (Initital Setup)
---------------------------------
    #HTML5
    #BODY
        #TYPOGRAPHY
        #HELPERS
        #MEDIA
            #IMAGES
            #VIDEOS
        #COMPONENTS
            #BUTTONS
    #LAYOUT
        #MEDIAQUERIES
    #SITE STRUCTURE
        #HEADER
            #SITE-BRANDING (LOGO)   
            #SITE NAVIGATION
        #FOOTER
        #SECTIONS
        #SUB PAGES
--------------------------------- */
/* #HTML5 */
header, section, footer, aside, nav, main, article, figure {
    display: block;
  }

  * {
    box-sizing: border-box;
  }
  
  /* BODY */
  body{
  background-color: #f7f5f2;
  padding: 0;
  margin: 0;
  }

  /* #TYPOGRAPHY  */
  body {
      font-family: Helvetica, Arial, sans-serif;
      color: rgba(0,0,0,.8);;
      max-width: 1000px;
      margin: 0 auto;
      padding: 5em;
      font-size: 87.5%;
      line-height: 1.5em;
  }
  
  h1 {
      font-size: 2.6em;
      font-family: Playfair Display, Helvetica, sans-serif;
      line-height: 55px;
  }
  
  /* #LINKS */
  a {
    color: rgba(0,0,0,.8);;
    text-decoration: none;
  }
  
  a:hover {
    color: rgba(0,0,0,.8);;
  }
  
  /* HELPERS */
  .text-centered {
    text-align: center;
  }
  
  .text-centered p,
  .mywufooform{
      max-width: 30em;
      margin-left: auto;
      margin-right: auto;
  }
  
  .subheader {
    color: rgba(0,0,0,.8);
    font-weight: normal;
  }
  
  .full-width {
    max-width: 5000px;
    margin: 0 auto;
    padding: 1em;
    /* width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; */
  }
  
  .full-width img {
    width: 100%;
  }
  
  /* #IMAGES */
  img {
    max-width: 100%;
    height: auto;
  }
  
  img.circular {
      border-radius: 100%;
  }

  /* VIDEOS */
  
  .container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  video {
    max-width: 100%;
    height: auto;
  }
  
  /* BUTTONS */
  a.button {
      display: inline-block;
      background-color: rgba(0,0,0,.3);
      color: rgba(255,255,255,.8);
      border-radius: .5em;
      padding: 1em 2em .8em 2em;
      margin: .5em;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: .9em;
  }
  a.button:hover {
      background-color: rgba(0,0,0,.5);
  }
  
  /* SITE-STRUCTURE */
  
  .site-header,
  .site-footer {
      text-align: center;
      padding: 3em 0 2em 0;
      text-transform: uppercase;
      letter-spacing: 0.15em;
  }
  
  .site-branding h1 {
      font-size: 2em;
      margin: 0;
      font-weight: normal;
  }
  
  .site-navigation ul {
      margin: 0;
      padding: 2em 0;
  }
  
  .site-navigation li {
      margin: 0 .5em;
      padding: 0;
      display: inline-block;
  }
  
  .site-navigation a {
      display: block;
      padding: 1em .5em;
      color: rgba(0,0,0,.4);
  }
  
  .site-navigation a:hover,
  .site-navigation a.selected {
      color: rgba(0,0,0,.6);
      border-bottom: 0.05em solid rgba(0,0,0,.2);
  }
  
  section {
      padding: 0 0 3em 0;
  }
  
  .hero {
      padding: 0;
      background: #f7f5f2;
  }
  
  .trilogy .hero {
    padding: 0;
    background: #fff;
  }

  .logo .hero {
    padding: 0;
    background: #fff;
  }
  
  /* FLEX GRID */
  
  @media (min-width: 768px) {
      
      .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em;
      }
      .one-third.column {
          width: 32%;
      }
      .two-thirds.column {
          width: 60%;
      }
      
  }
  
  /* THUMBGRID */
  .thumbgrid {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
  }
  
  /* .thumbgrid a {
      width: 49.5%;
  } */
  
  @media (min-width:768px) {
      .thumbgrid a {
          width: 24.5%;
      }
  }
  
  .thumbgrid a img {
      filter: brightness(1.05);
      transition: all ease-in-out 0.2s;
      border: 1px solid rgba(255, 255, 255, 0);
  }
  
  .thumbgrid a:hover img {
      filter: brightness(1);
      border: 1px solid rgba(0,0,0,.3);
  }
  
/* ANIMATIONS */

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  main,
  fade-in {
    opacity: 0;
    animation: fade-in ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  @keyframes fade-and-move-in {
    from {
      transform: translate(0, -20px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .fade-and-move-in * {
    opacity: 0;
    animation: fade-and-move-in ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  .fade-and-move-in *:nth-child(1) {
    animation-delay: 0.1s;
  }
  .fade-and-move-in *:nth-child(2) {
    animation-delay: 0.2s;
  }
  .fade-and-move-in *:nth-child(3) {
    animation-delay: 0.4s;
  }
  .fade-and-move-in *:nth-child(4) {
    animation-delay: 0.7s;
  }
  .fade-and-move-in *:nth-child(5) {
    animation-delay: 1s;
  }
  .fade-and-move-in *:nth-child(6) {
    animation-delay: 1.2s;
  }
  .fade-and-move-in *:nth-child(7) {
    animation-delay: 1.4s;
  }
  .fade-and-move-in *:nth-child(8) {
    animation-delay: 1.6s;
  }
  .fade-and-move-in *:nth-child(9) {
    animation-delay: 1.8s;
  }

  /* CONTACT PAGE */
  @media (min-width: 768px) {
    .contact_subpage #contact {
      background: #f7f5f2;
    }
  }
  .contact_subpage #contact .contact-container {
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    min-width: 370px;
  }
  .contact_subpage #contact .white-p {
    color: cadetblue;
  }
  .contact_subpage #contact h1 {
    color: rgba(0,0,0,.8);
    padding-top: 0;
    font-weight: 200;
  }
  @media (min-width: 768px) {
    .contact_subpage #contact h1 {
      padding-top: 5%;
    }
  }
  .contact_subpage #contact h1 span {
    color: cadetblue;
  }
  .contact_subpage #contact h2 {
    font-family: Playfair Display, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 300;
    margin-top: -5%;
    color: #f7f5f2;
  }
  .contact_subpage #contact h4 {
    font-family: Proxima Nova, sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: rgba(0,0,0,.8);
  }
  .contact_subpage #contact .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact_subpage #contact .left-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 480px;
    background-color: #f7f5f2;
  }
  .contact_subpage #contact .right-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 502px;
    background-color: rgba(0,0,0,.8);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact_subpage #contact .left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 460px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f7f5f2;
  }
  .contact_subpage #contact .left-container p {
    font-size: 0.9rem;
    color: rgba(0,0,0,.8);
  }
  .contact_subpage #contact .right-inner-container {
    width: 70%;
    height: 80%;
    text-align: center;
  }
  .contact_subpage #contact .left-inner-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
  }
  .contact_subpage #contact input,
  .contact_subpage #contact textarea {
    background-color: #f7f5f2;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
  }
  .contact_subpage #contact input:focus,
  .contact_subpage #contact textarea:focus {
    outline: 1px solid rgba(0,0,0,.8);
  }
  .contact_subpage #contact .button {
    border: 1px solid #f7f5f2;
    font-family: Playfair Display, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 0.9em;
    color: #f7f5f2;
    background-color: #f7f5f2;
    overflow: hidden;
    position: relative;
    padding-top: 16px;
    margin-left: 0;
    z-index: 1;
  }
  @media (min-width: 768px) {
    .contact_subpage #contact .button {
      color: rgba(0,0,0,.8);
      border: 1px solid rgba(0,0,0,.8);
      font-size: 1em;
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-transition: 500ms ease;
      transition: 500ms ease;
      margin-top: 20%;
      background-color: #f7f5f2;
    }
  }
  .contact_subpage #contact .button:hover {
    color: rgba(0,0,0,.8);
  }
  @media (min-width: 768px) {
    .contact_subpage #contact .button:hover {
      color: #f7f5f2;
    }
  }
  .contact_subpage #contact .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 190%;
    width: 100%;
    background-color: #f7f5f2;
    -webkit-transform: translatey(4.5em);
            transform: translatey(4.5em);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
  }
  @media (min-width: 768px) {
    .contact_subpage #contact .button::after {
      background-color: rgba(0,0,0,.8);
      -webkit-transform: translatey(4em);
              transform: translatey(4em);
    }
  }
  .contact_subpage #contact .button:hover::after {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
  @media only screen and (max-width: 600px) {
    .contact_subpage #contact .left-container {
      display: none;
    }
    .contact_subpage #contact .lg-view {
      display: none;
    }
  }
  @media only screen and (min-width: 600px) {
    .contact_subpage #contact .sm-view {
      display: none;
    }
  }
  .contact_subpage #contact form p {
    text-align: left;
  }
  