/* #BASE CSS (Initital Setup)
---------------------------------
    #HTML5
    #BODY
        #TYPOGRAPHY
        #HELPERS
        #MEDIA
            #IMAGES
            #VIDEOS
        #COMPONENTS
            #BUTTONS
    #LAYOUT
        #MEDIAQUERIES
    #SITE STRUCTURE
        #HEADER
            #SITE-BRANDING (LOGO)   
            #SITE NAVIGATION
        #FOOTER
        #SECTIONS
        #SUB PAGES
--------------------------------- */
/* #HTML5 */
header, section, footer, aside, nav, main, article, figure {
    display: block;
  }

  * {
    box-sizing: border-box;
  }

  /* BODY */
  .body, .aboutpage {
  background-color: #f7f5f1;
  margin: 0 auto;
  }

  /* #TYPOGRAPHY  */
  .body, p {
      font-family: new-hero, sans-serif;
      color: rgba(0,0,0,.8);
      max-width: 1000px;
      margin: 0 auto;
      padding: 0;
      font-size: 87.5%;
      line-height: 1.5em;
  }
  
  h1 {
        font-size: 3em;
        font-family: 'Playfair Display', new-hero, sans-serif;
        line-height: 55px;
    }

  p {
    max-width: 35em;
  }
  
  /* #LINKS */
  a {
    color: rgba(0,0,0,.8);;
    text-decoration: none;
  }
  
  /* #HELPERS */
  .text-centered {
    text-align: center;
  }

  .hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .subheader {
    color: rgba(0,0,0,.8);
    font-weight: normal;
  }
  
  .full-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
  }
  
  .full-width img {
    max-width: 100%;
  }
  
  /* HORIZONTAL RULES */
  hr {
    border: 0;
    height: 1px;
    background:  #f7f5f1;
    margin: 2em 0;
  }

  /* #IMAGES */
  img.scale-with-grid {
    max-width: 100%;
    height: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img.circular {
    border-radius: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
    padding: 0;
  }

  img.circular {
      border-radius: 100%;
      padding-top: 1em;
      height: auto;
      /* background-color: #f7f5f2; */
  }

  .thumbgrid {
    max-width: 100%;
    height: auto;
    padding: 1em;
  }

  /* VIDEOS */
  
  .container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  /* BUTTONS */

a.button {
  font-size: inherit;
  font-family: new-hero, sans-serif;
  font-style: thin;
}

.homepagebutton, 
.homepagebutton2, 
.homepagebutton3, 
.homepagebutton4,
a.button,
form input[type="submit"] {
  display: inline-block;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 1em;
  border: 1px solid rgba(0,0,0,.8);
  color: rgba(0,0,0,.8);
  cursor: pointer;
  line-height: 1em;
}

button.alt,
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}

.homepagebutton:hover, 
.homepagebutton2:hover, 
.homepagebutton3:hover,
.homepagebutton4:hover,
a.button:hover, 
form input[type="submit"]:hover {
  background-color: rgba(0,0,0,.8);
  color: #fff;
  text-decoration: none;
}

.homepagebutton {
  z-index: 100;
  position: absolute;
  bottom: 8vh;
}

.homepagebutton2 {
  z-index: 100;
  position: absolute;
  right: 16vw;
  bottom: 20vh;
}

.homepagebutton3 {
  z-index: 100;
  position: absolute;
  right: 21vw;
  bottom: 20vh;
}

.homepagebutton4 {
  z-index: 100;
  position: absolute;
  right: 22vw;
  bottom: 20vh;
}

@media (max-width: 768px) {
  .homepagebutton, .homepagebutton2, .homepagebutton3, .homepagebutton4 {
  z-index: 100;
  position: absolute;
  right: auto;
  bottom: 6vh;
  }
}

  /* LAYOUT */

body {
  margin: 0;
}

.home-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
}

@media (max-width: 767px) {
  .home-container {
  display: list-item;
  justify-content: space-between;
  padding: 0 5em;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2em;
}

  /* MEDIA QUERIES */

/* RESPONSIVE TYPOGRAPHY */

/* SMALL */
body { font-size: 87.5%; }

@media (min-width: 768px) {
    body { font-size: 100%; }
}

@media (min-width: 1250px) {
    body { font-size: 112.5%; }
    .container {width: 1100px;}
}

/* FOR DEMO PURPOSES */
.demo .column {
  background-color:  #f7f5f1;
}

.demo .column p {
  text-align: center;
  margin: 0;
  padding: 1em;
}


  /* SITE-STRUCTURE */
  
  .site-header {
      font-family: new-hero, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      padding: 3em 0 6em 0;
      text-transform: uppercase;
      /* letter-spacing: 0.15em; */
  }

  @keyframes fadeanddropIn {
    0% {
      transform: translateY(-20px);
      opacity: 0; 
    }
    100% {
      transform: translateY(0px); 
      opacity: 1; 
    }
  }

  .fadeanddropIn * {
    animation: fadeanddropIn 1s ease-out forwards;
    opacity: 0;
  }
  
  .fadeanddropIn *:nth-child(1) { animation-delay: .25s;}
  .fadeanddropIn *:nth-child(2) { animation-delay: .5s;}
  .fadeanddropIn *:nth-child(3) { animation-delay: .75s;}
  
  .fadeanddropIn:last-child *:nth-child(1) { animation-delay: 1.25s;}
  .fadeanddropIn:last-child *:nth-child(2) { animation-delay: 1.5s;}
  .fadeanddropIn:last-child *:nth-child(3) { animation-delay: 1.75s;}

  .site-footer {
      font-family: new-hero, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      padding: 1em 0 1em 0;
      text-transform: uppercase;
      /* letter-spacing: 0.15em; */
  }
  
  .site-header .container{
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .site-branding h1 {
      font-size: 2em;
      margin: 0;
      font-weight: normal;
  }

  .site-navigation li {
      margin: 0 .5em;
      padding: 0;
      display: inline-block;
  }

  .site-navigation ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

  .site-navigation a {
      display: block;
      padding: 1em .5em;
      color: rgba(0,0,0,.4);
  }
  
  .site-navigation a:hover,
  .site-navigation a.selected {
      color: rgba(0,0,0,.6);
      /* border-bottom: 0.05em solid rgba(0,0,0,.2); */
  }

  .hero {
      padding: 0;
      background: #f7f5f2;
  }

  .logo .hero {
    padding: 0;
    background: #fff;
  }
  
  /* SITE SPECIFIC CSS */

.home section {
  padding: 0;
  height: 100%;
}

.section-title {
  margin-bottom: 3em;
  text-align: center;
}
.section-title:after {
  content: "";
  display: block;
  width: 50px;
  margin: 0.5em auto;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}

img.thumb-small-left {
  max-width: 100px;
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

img.thumb-small-left + h5 {
  margin-left: 120px;
  margin-top: 0;
  margin-bottom: 0;
}

img.thumb-small-left + h5 + p {
  margin-left: 120px;
}

section.light {
  background: rgba(0, 0, 0, 0.025);
}

section#work {
  padding-top: 8em;
}

/* Thumb Gallery */

.thumb-gallery,
.thumb-gallery li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.thumb-gallery li {
  display: inline-block;
  width: 47%;
  margin: 1%;
}

@media (min-width: 768px) {
  .thumb-gallery li {
    width: 22%;
  }
}

/* vertical centering and order-swapping columns */
@media (min-width: 768px) {
  .vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
  }

  .vcenter .column {
    margin-bottom: 0;
  }

  .orderswap .column {
    float: right;
    margin-left: 8%;
    margin-right: 0;
  }
  .orderswap .column:last-child {
    margin-left: 0;
  }
  .vcenter.orderswap {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.home header {
  position: absolute;
  z-index: 100;
  background-color: rgb(255, 255, 255, 0);
}

header {
  /* position: absolute; */
  z-index: 100;
  background-color: rgb(255, 255, 255, 0);
}

li{
  margin: 0;
}

.thisisagrid{
  padding: 0;
  padding-top: 0em;
  margin-top: 4em;
}

@media (max-width: 767px) {
  .thisisagrid{
    padding: 0;
    padding-top: 0em;
    margin-top: 6em;
  } 
}

body{
  background: #fff;
}

.site-navigation {
  /* position: absolute; */
  padding-top: .5em;
  right: 0;
}

.site-header{
  width: 100%;
}

p{
  color: rgba(0,0,0,.8);
}

h1, h2, h3, h4, h5, h6{
  color: rgba(0,0,0,.8);
}

.site-header a, .site-footer a{
  color: rgba(0,0,0,.8);
}

.site-header a:hover{
  color: rgba(0,0,0,.3);
}

.navcolor a{
  color: #1f1f1f;
}

.thefinalstep{
  text-align: center;
}

/* Page Trans */
 section{
   animation: .9s fade-in ease forwards;
 }

 @keyframes fade-in{
   0% {
     opacity: 0;
     transform: scale(.9);
   }

   100% {
     opacity: 1;
     transform: scale(1);
   }
 }

.site-navfooter {
  font-family: new-hero, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.site-navfooter ul {
  padding: 0;
  color: #1f1f1f;
 
}

.site-navfooter ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  display: inline-flex;
}

.site-navfooter ul li a {
  display: block;
  padding: 0.5em 0.75em 0.4em 0.75em;
}

.site-navfooter ul li ul {
  border-top: none;
  margin: 0;
  padding: 0;
}

/* Default Site-Navfooter (footer only) */
.site-footer .site-navfooter ul {
  border-top: none;
  margin: 0;
}

@media (min-width: 1250px) {
  .site-navfooter{
    /* margin-right: 8em; */
  }
}

.site-navfooter{
  text-align: center;
  margin: 0 auto;
}

.site-navfooter ul li a:hover {
  color: rgba(0,0,0,.3);
}

  /* FLEX GRID */
  
  @media (min-width: 768px) {
      
      .row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em;
      }
      .one-third.column {
          width: 32%;
      }
      .two-thirds.column {
          width: 60%;
      }
      
  }
  
  /* THUMBGRID */
  .thumbgrid {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .subpage-thumbgrid {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

  @media (min-width:768px) {
      .thumbgrid a {
          width: 40%;
      }
  }
  
  .thumbgrid, .subpage-thumbgrid a img {
      filter: brightness(1.05);
      transition: all ease-in-out 0.2s;
      border: .5px solid rgba(255, 255, 255, 0);
  }
  
  .thumbgrid a:hover img {
      filter: brightness(1);
      border: .5px solid rgba(0,0,0,.3);
  }
  
/* ANIMATIONS */

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  main,
  fade-in {
    opacity: 0;
    animation: fade-in ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  @keyframes fade-and-move-in {
    from {
      transform: translate(0, -20px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .fade-and-move-in * {
    opacity: 0;
    animation: fade-and-move-in ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
  }
  
  .fade-and-move-in *:nth-child(1) {
    animation-delay: 0.1s;
  }
  .fade-and-move-in *:nth-child(2) {
    animation-delay: 0.2s;
  }
  .fade-and-move-in *:nth-child(3) {
    animation-delay: 0.4s;
  }
  .fade-and-move-in *:nth-child(4) {
    animation-delay: 0.7s;
  }
  .fade-and-move-in *:nth-child(5) {
    animation-delay: 1s;
  }
  .fade-and-move-in *:nth-child(6) {
    animation-delay: 1.2s;
  }
  .fade-and-move-in *:nth-child(7) {
    animation-delay: 1.4s;
  }
  .fade-and-move-in *:nth-child(8) {
    animation-delay: 1.6s;
  }
  .fade-and-move-in *:nth-child(9) {
    animation-delay: 1.8s;
  }

/* CONTACT PAGE */

#contact {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em;
  /* background-color: #f7f5f2; */
  max-width: 30em;
}

.contact_subpage {
  margin: 0 auto;
  max-width: 30em;
}

.section-header {
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px Playfair Display, sans-serif;
  color: rgba(0,0,0,.8);
  text-transform: uppercase;
  max-width: 30em;
}

.contact-wrapper li {
  align-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 768px;
}

/* Location, Phone, Email Section */
.contact-list {
  text-align: left;
  max-width: 18em;
  list-style-type: none;
  margin: 2em auto;
  padding: 0;
}

ul.contact-list span {
  margin-left: 10px;
}

ul.icons {
  padding: 0;
  margin: 0 auto;
}

i.fa.fa-map-marker.fa-2x, i.fa.fa-phone.fa-2x, i.fa.fa-envelope.fa-2x {
  font-size: 1em;
}

.contact-text {
  font-family: new-hero, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 87.5%;
}

.contact-text a {
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: rosybrown;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #f7f5f2;
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.social-media-list a:hover {
  color: rosybrown;
}

/* .copyright {
  font-family: new-hero, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #555;
  text-align: center;
  font-size: smaller;
} */

hr {
  border-color: rgba(255,255,255,.6);
}

/* HOME PAGE */

html, body.home {
  position: relative;
  height: 100%;
  margin: 0;
}
.homepageimg{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  margin: 0;
  /* z-index: 1; */
}  
  
body.home {
  background: #f7f5f1;
  font-family: Playfair Display, new-hero, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f7f5f1;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SLIDER */
html, body.swiperpage {
  position: relative;
  height: 100%;
}
body.swiperpage {
  background: #f7f5f1;
  font-family: new-hero, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color:rgba(0,0,0,.8);
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f7f5f1;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active{
background-color:#f7f5f1;
}

.color-1{
background-color:#009688;
}
.color-2{
background-color:#4CAF50;
}
.color-3{
background-color:#FFEB3B;
}
.color-4{
background-color:#FF5722;
}
.color-5{
background-color:#607D8B;
}

